KERNEL=="tty*", SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="303a", ATTRS{idProduct}=="4001", ATTRS{serial}=="OSRCOREV01", MODE:="0666", GROUP:="dialout", SYMLINK+="osrbot_base"
